#popupbox
{
	margin: 0; 
	margin-left: 40%; 
	margin-right: 40%; 
	margin-top: 300px; 
	padding-top: 10px; 
	width: 20%;
	height: 160px;
	position: absolute;
	background: #BBBBBB;
	border: solid #000000 2px;
	z-index: 9;
	font-family: 'Comic Sans MS';
	visibility: hidden;
}
