#iaddrs
{
	width: 300px;
	margin-left: 1.2em;
}

#ifname
{
	width: 170px;
}

#ilname
{
	width: 230px;
}

#iemail
{
	margin-left: 2.5em;
	width: 190px;
}

#sstate
{
	margin-left: 2.6em;
}

#isubmit
{
	margin-left: 20em;
}

#icname
{
	width: 180px;
}

#wrapper
{
	position: absolute;
	width: 100px;
}

#main
{
	background-color:#cccccc;
	border: 3px;
	border-style: solid;
	border-color: #000000;
	padding: 10px;
	position: relative;
	width: 600px;
}

#title
{
	background-color:#000000;
	border: 3px;
	border-style: solid;
	border-color: #000000;
	padding: 10px;
	position: relative;
	width: 600px;
	left: 0px;
	text-align: center;
	color: #ffffff;
	font-size: xx-large;
}